In [1]:

import itc_utils.flight_service as itcfs

nb_data_request = {
    'data_name': """customer_churn.csv""",
    'interaction_properties': {
        #'row_limit': 500,
        'infer_schema': 'true',
        'infer_as_varchar': 'false'
    }
}
flight_descriptor = itcfs.get_flight_descriptor(nb_data_request=nb_data_request)

flightClient = itcfs.get_flight_client()
flightInfo = flightClient.get_flight_info(flight_descriptor)

df_0 = itcfs.read_pandas_and_concat(flightClient, flightInfo, timeout=240)
df_0.head(10)

,CHURN,Gender,Status,Children,EstIncome,CarOwner,Age,LongDistance,International,Local,Dropped,Paymethod,LocalBilltype,LongDistanceBilltype,Usage,RatePlan
0,T,F,S,1.0,38000.00,N,24.393333,23.56,0.0,206.08,0.0,CC,Budget,Intnl_discount,229.64,3.0
1,F,M,M,2.0,29616.00,N,49.426667,29.78,0.0,45.50,0.0,CH,FreeLocal,Standard,75.29,2.0
2,F,M,M,0.0,19732.80,N,50.673333,24.81,0.0,22.44,0.0,CC,FreeLocal,Standard,47.25,3.0
3,F,M,S,2.0,96.33,N,56.473333,26.13,0.0,32.88,1.0,CC,Budget,Standard,59.01,1.0
4,F,F,M,2.0,52004.80,N,25.140000,5.03,0.0,23.11,0.0,CH,Budget,Intnl_discount,28.14,1.0
5,F,M,M,2.0,53010.80,N,18.840000,12.45,0.0,46.42,4.0,CC,FreeLocal,Standard,58.87,1.0
6,F,M,M,1.0,75004.50,N,64.800000,26.52,0.0,32.19,0.0,CC,Budget,Intnl_discount,58.72,1.0
7,F,M,M,0.0,19749.30,N,60.366667,20.22,0.0,13.94,0.0,CC,Budget,Standard,34.17,3.0
8,F,M,S,1.0,57626.90,Y,43.906667,9.38,0.0,38.96,0.0,CC,Budget,Standard,48.35,2.0
9,F,M,M,2.0,20078.00,N,32.846667,9.65,0.0,6.33,0.0,CC,Budget,Intnl_discount,15.98,4.0